* {
    font-family: 'Spartan';
}


:root {
    --main-color-green: rgba(4, 53, 4, 0.932);
    --secondary-color: black;
}

body {
    background: url('./media/green1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1 {
    -webkit-text-stroke: 2px black;
    font-size: 5cm;
    font-weight: bolder;
    color: var(--main-color-green);
}

/* body parts  */


.main-wrapper {
    height: 500px;
    width: 1000px;
    backdrop-filter: blur(2px);
    position: absolute;
}

.playButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    position: relative;
    bottom: 200px;
    padding: 10px;
}

.fa-cog {
    color: var(--main-color-green);
  }

.linkButtons{

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    position: relative;
    bottom: 200px;
    padding: 30px;
   

  }

  .titleAndSong {

    color: var(--secondary-color);
    position: relative;
    bottom: 150px;
    backdrop-filter: blur(4px);

  }